html, .container-fluid {
    background-color: #171717;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    max-width: 100%;
}
a{
    color: white;
}

a:hover{
    color: white;
}

h1 {
    letter-spacing: 1vw;
}

h3 {
    letter-spacing: .3vw;
    padding-top: .5vh;
}

p {
    margin: 0;
    padding: 0;
    text-align: left !important;
    margin-left: 5px;
    color: #171717;
}

.modal-body {
    padding: 0;
    background-color: #171717;
}

#header {
    position: sticky;
    top: 0;
    background-color: #171717;
    padding-top: 4rem;
    padding-bottom: .5rem;
}

#video-grid, .nav-container {
    width: 80%;
    margin: 0 auto;
}
.nav-container a{
    margin-left: 1rem;
}
.modal-dialog {
    min-width: 70%;
    max-height: 100vh - 200px;
    margin-top: 70px;
}

.header-title-container{
    display: flex;
    flex-direction: column;
}

.nav-container{
    text-align: right;
}
@media (max-width: 1440px) {
    #video-grid, .nav-container{
        width: 90%
    }
    .modal-dialog {
        /* min-width: 90%; */
    }
}




@media ( max-width: 720px) {
    h1 {
        font-size: 7vw;
    }
    h3 {
        font-size: 6vw;
    }
    #header {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .title {
        color: white;
    }
    .nav-container{
        font-size: 12px;
        text-align: center;
        margin-top: .5rem;
        padding-bottom: .5rem;
    }
}