html, .container-fluid {
    background-color: black;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    max-width: 100%;
}

h1 {
    letter-spacing: 1vw;
}

h3 {
    letter-spacing: .3vw;
    padding-top: .5vh;
}

p {
    margin: 0;
    padding: 0;
    text-align: left !important;
    margin-left: 5px;
    color: black;
}

.modal-body {
    padding: 0;
    background-color: black;
}

#header {
    position: sticky;
    top: 0;
    background-color: black;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

#video-grid {
    width: 72%;
    margin: 0 auto;
}

.modal-dialog {
    min-width: 72%;
    max-height: 100vh - 200px;
    margin-top: 70px;
}

@media (min-width: 1440px) {}

@media ( max-width: 480px) {
    h1 {
        font-size: 7vw;
    }
    h3 {
        font-size: 6vw;
    }
    #header {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}