html, .container-fluid {
    background-color: black;
    color: white;
    font-family: 'Helvetica', sans-serif;
    max-width: 100%;
}

h1 {
    letter-spacing: 1vw;
}

h3 {
    letter-spacing: .3vw;
    padding-top: .5vh;
}

p {
    margin: 0;
    padding: 0;
    text-align: left !important;
    margin-left: 5px;
    color: black;
}

.row {
    margin-right: 20px;
    margin-left: 20px;
}

.modal-body {
    padding: 0;
    background-color: black;
}

@media (min-width: 1024px) {
    .row {
        margin-right: 14rem;
        margin-left: 14rem;
    }
}

@media ( max-width: 480px) {
    h1 {
        font-size: 7vw;
    }
    h3 {
        font-size: 6vw;
    }
}